{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Wiki Entry
{% endblock %}

{% block body %}
    {% if error %}
      <h2> {{ error }}</h2>
    {% endif %}
    <h1>Edit Wiki Entry</h1>
    <form action="{% url 'edit' wiki_title %}" method="POST">
      {% csrf_token %}
      <h1>Title: {{ wiki_title }}</h1>
      <br>
      <h1>Content: </h1>
      <textarea class="edited_content" id="edited_content" name="edited_content" rows="4" cols="50">{{ wiki_content }}</textarea>
      <br>
      <input type="submit" value="Save Form">
    </form>
{% endblock %}
